<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base::headstuff">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="base::navbar"></nav>
<div class="container">
    <div class="jumbotron">
        <h1>You Have reached to secure page</h1>

        <p><a class="btn btn-primary btn-lg" href="/" role="button">Go to Home</a> </p>
    </div>
</div>

<nav th:replace="base::footer"></nav>
<th:block th:replace="base::jslinks"></th:block>

</body>
</html>